* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(196, 196, 196);
}

.conteudo-banner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    color: white;
}

#botao-cadastrar {
    background-color: white;
    border: none;
    padding: 5px;
    width: 150px;
    border-top: 30px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    transition: width 1s;
}

#botao-cadastrar:hover {
    background-color: #797878;
    width: 200px;
}


.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: auto;
    flex-direction: column;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    color: white;
    opacity: 0;
    text-align: center;
    border-radius: 25px;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal h2 {
    padding: 10px;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.fechar {
    position: absolute;
    width: 30px;
    right: -10px;
    top: -15px;
    text-align: center;
    font-weight: 600;
    line-height: 30px;
    margin-top: 5px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 16px;
    color: #8d0000;
}

.modal form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.input input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    background-color: rgb(161, 161, 161);
    border-radius: 10px;
    width: 300px;
    height: 20px;
    opacity: 1;
    outline: none;
    color: rgba(0, 0, 0, 0.7);
}

.input input:focus {
    background-color: #fff;
}

.input label {
    color: white;
    font-size: 1rem;
    border: 10px;
}

.dark-mode {
    background-color: rgb(39, 39, 39);
  }

.dark-mode div {
    background-color: black;
    color: white;
  }

.botao-dark-mode button{
    border-radius: 10px;
    text-align: center;
    width: 85px;
    border: none;
    background-color: white;
    margin: 10px;
}

.botao-dark-mode:hover button{
    background-color:black;
    color: white;
}

.botao {
    background: linear-gradient(to left, #e15f41, #e77f67);
    width: 150px;
    margin: 20px;
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.botao:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #e15f41, #e77f67);
}

#botao-menu {
    display: none;
}

.hamburg {
    position: absolute;
}

.head label {
    padding: 5px;
    background-color: #302f2f;
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    display: none;
    font-size: 25px;
    width: 50px;
    height: 50px;
}

.head label:hover {
    position: relative;
}

.cabecalho {
    background-color: #302f2f;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 130px;
    padding-left: 30px;
}

.search {
    margin-right: 20px;
    opacity: 0.5;
    border: none;
    height: 46px;
    width: 46px;
    padding-left: 46px;
    border-radius: 50%;
    background: url(../img/lupa.jpg) no-repeat 10px/24px, #fff;
    cursor: pointer;
    transition-property: width, border-radius, box-shadow;
    transition-duration: 300ms;
}

.search:focus {
    width: 240px;
    opacity: 1;
    border-radius: 4px;
    box-shadow: 0 0 0 2px #12c8ff;
    outline: none;
    cursor: auto;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline;
    padding-right: 3vh;
}

#menu ul li a {
    display: inline-block;
}

#menu a {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.container-produto {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    padding: 5px;
    border: solid 1px #7c7c7c;
    border-radius: 5px;
    justify-content: space-around;
    width: 90%;
}

.fotos {
    padding: 20px;
    width: 400px;
    height: 460px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.produto {
    display: flex;
    align-items: center;
}

.fotos .produto {
    width: 500%;
    animation-name: animacao;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.fotos .produto img {
    width: 19.9%;
    height: 100%;
}

@keyframes animacao {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    95% {
        margin-left: -300%;
    }

    100% {
        margin-left: -400%;
    }
}

.preco {
    margin: 6px;
    padding: 20px;
    border: solid 1px #7c7c7c;
    border-radius: 5px;
    width: 400px;
}

.estado {
    margin-top: 10px;
}

.nome-item {
    margin-top: 20px;
}

.vendido {
    margin-top: 20px;
}

.vendido button {
    color: white;
    background-color: rgb(233, 131, 15);
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

.vendido button:hover {
    background-color: rgb(176, 95, 3);
}

.vendido a {
    font-size: 12px;
}

.preco-produto {
    margin-top: 20px;
}

.preco-produto h2 {
    font-size: 50px;
}

.botoes-pagamento {
    margin-top: 20px;
}

.botoes-comprar {
    display: grid;
    margin: 20px 0;
    height: 30px;
}

.botoes-comprar button {
    color: white;
    background-color: rgb(252, 77, 38);
    padding: 10px;
    border-radius: 5px;
}

.botoes-comprar button:hover {
    background-color: rgb(245, 52, 8);
}

.botoes-carrinho {
    display: grid;
    margin: 20px 0;
    height: 30px;
}

.botoes-carrinho button {
    color: rgb(255, 47, 0);
    background-color: rgb(250, 164, 145);
    padding: 10px;
    border-radius: 5px;
}

.botoes-carrinho button:hover {
    background-color: rgb(247, 150, 129);
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    cursor: pointer;
}

a {
    color: blue;
}

.rodape-container {
    background: #171717;
    bottom: 0;
    width: 100%;
}

.rodape {
    display: flex;
    align-items: center;
}

.card-aluno {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px;
    font-size: 15px;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    color: white;
    justify-content: center;
    flex-wrap: wrap;
}

.card-aluno h2 {
    text-align: center;
}

.card-aluno h3 {
    font-size: 15px;
    font-weight: 200;
}

.logo-contato {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    gap: 10px;
    align-items: center;
}

#direitos-autorais {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 10px;
    padding: 10px;
}

    @media (max-width: 430px) {

    .botao-dark-mode button{
        width: 40px;
        height: 80px;
    }

    .conteudo-banner {
        width: 265px;
        margin: 100px 80px;
    }

    .modal {
        zoom: 0.55;
    }

    header {
        position: absolute;
        position: fixed;
    }

    .preco-produto h2 {
        font-size: 35px;
    }

    main {
        margin-top: 10px;
    }

    .head label {
        display: block;
        z-index: 220;
    }

    #botao-menu:checked~.cabecalho {
        margin-left: 0%;
    }

    .cabecalho {
        margin-top: -72%;
        margin-left: -100%;
        transition: all 1s;
        background-color: #302f2f;
        height: 350px;
        width: 155px;
        display: flex;
    }

    .logo {
        width: 77px;
        margin-left: 50%;
        position: absolute;
        top: -0%;
    }

    .cabecalho input {
        position: absolute;
        margin-top: -222px;
        margin-left: 69px;
    }

    .search {
        zoom: 80%;
        left: 6px;
    }

    .search:focus {
        left: -65px;
        margin-top: -140px;
        width: 185px;
    }

    #menu {
        position: relative;
    }

    #menu ul li {
        display: block;
    }

    ul {
        margin-top: 80px;
        margin-left: 10px;
        display: grid;
        gap: 20px;
    }

    .container-produto {
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        padding: 5px;
        border: solid 1px #7c7c7c;
        border-radius: 5px;
        justify-content: space-around;
        width: 380px;
    }

    .fotos {
        padding: 0;
        margin: 0;
        width: 300px;
        height: 316px;
    }

    .rodape {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .card-aluno {
        font-size: 15px;
    }

    .card-aluno h3 {
        font-size: 10px;
    }

}

    @media (max-width: 380px) {

    .conteudo-banner {
        margin: 100px 55px;
    }

    .modal {
        zoom: 0.55;
    }

    header {
        position: absolute;
        position: fixed;
    }

    .preco-produto h2 {
        font-size: 35px;
    }

    main {
        margin-top: 10px;
    }

    .head label {
        display: block;
        z-index: 220;
    }

    #botao-menu:checked~.cabecalho {
        margin-left: 0%;
    }

    .cabecalho {
        margin-top: -72%;
        margin-left: -100%;
        transition: all 1s;
        background-color: #302f2f;
        height: 350px;
        width: 155px;
        display: flex;
    }

    .logo {
        width: 77px;
        margin-left: 50%;
        position: absolute;
        top: -0%;
    }

    .cabecalho input {
        position: absolute;
        margin-top: -222px;
        margin-left: 69px;
    }

    .search {
        zoom: 80%;
        left: 5px;
    }

    .search:focus {
        margin-top: -140px;
        width: 190px;
    }

    #menu {
        position: relative;
    }

    #menu ul li {
        display: block;
    }

    ul {
        margin-top: 80px;
        margin-left: 10px;
        display: grid;
        gap: 20px;
    }

    .container-produto {
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        padding: 5px;
        border: solid 1px #7c7c7c;
        border-radius: 5px;
        justify-content: space-around;
        width: 300px;
    }

    .fotos {
        padding: 0;
        margin: 0;
        width: 220px;
        height: 240px;
    }

    .rodape {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .card-aluno {
        font-size: 15px;
    }

    .card-aluno h3 {
        font-size: 10px;
    }
}

    @media (max-width: 330px) {
    .conteudo-banner {
        margin: 50px 27px;
    }

    .modal {
        zoom: 0.55;
    }

    header {
        position: absolute;
        position: fixed;
    }

    .preco-produto h2 {
        font-size: 35px;
    }

    MAIN {
        margin-top: 10px;
    }

    .head label {
        display: block;
        z-index: 220;
    }

    #botao-menu:checked~.cabecalho {
        margin-left: 0%;
    }

    .cabecalho {
        margin-top: -72%;
        margin-left: -100%;
        transition: all 1s;
        background-color: #302f2f;
        height: 350px;
        width: 155px;
        display: flex;
    }

    .logo {
        width: 77px;
        margin-left: 50%;
        position: absolute;
        top: -0%;
    }

    .cabecalho input {
        position: absolute;
        margin-top: -222px;
        margin-left: 69px;
    }

    .search {
        zoom: 80%;
        left: 4px;
    }

    .search:focus {
        margin-top: -140px;
        width: 190px;
    }

    #menu {
        position: relative;
    }

    #menu ul li {
        display: block;
    }

    ul {
        margin-top: 80px;
        margin-left: 10px;
        display: grid;
        gap: 20px;
    }

    .container-produto {
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        padding: 5px;
        border: solid 1px #7c7c7c;
        border-radius: 5px;
        justify-content: space-around;
        width: 280px;
    }

    .fotos {
        padding: 0;
        margin: 0;
        width: 200px;
        height: 216px;
    }

    .rodape {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .card-aluno {
        font-size: 15px;
    }

    .card-aluno h3 {
        font-size: 10px;
    }
}